{{define "header"}}
<header>
    <nav>
        <a href="/"><h1>Nomad Coin</h1></a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">Add</a>
            </li>
        </ul>
    </nav>
    <h1>{{.PageTitle}}</h1>
</header>
{{end}}